table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}


.search-filter {
    margin-top: 50px;
}

.content {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

mat-card{
    margin: 30px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
}

h1 {
    color: gray;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.action-btn {
    font-size: 16px;
    font-weight: 800;

    padding: 8px;

    width: fit-content;
    height: 35px;
    min-width: 94px;
    color: white !important;
    background-color: rgb(122, 122, 122) !important;
    border-radius: 20px;
    margin-right: 10px;
}

.forma {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.forma .field {
    width: 50%;
    margin-right: 50px;

}

.forma button {
    margin-right: 50px;
}

.btn-report{
    margin: 30px;
}