.content {
    padding: 1rem 4rem 2rem 4rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    margin-top: 1em;
    min-width: 500px;
}

.field-container {
    display: flex;
    justify-content: space-between;
}


h1 {
    color: gray;
}

.field {
    margin: 0.3em 0;
}


.field-small {
    width: 48%;
}

.input-error {
    font-size: 0.8rem;
}

.signup-error {
    color: rgb(255, 103, 103);
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
}

.signup-error-container {
    margin-bottom: 2em;
}

.btn {
    transition: all .5s ease;
    background: #1a1a1a;
    box-shadow: 0px 4px 4px rgba(100, 100, 100, 0.397);

    height: 45px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-size: 16px;
    color: #e2e2e2;
}

.btn:hover {
    transform: translateY(-0.25em);
    background: #c5c5c5;
    border: 3px solid black;
    box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.397);
    color: #1a1a1a;
}
