<div id="admin">
        <div id="admin-mid-div"></div>
        <button mat-raised-button id="home-button" (click)="toHome()"
                [ngClass]="selectedPage===enumSP.HOME ? 'navbar-button selected-button': 'navbar-button'">Home
        </button>

        <button mat-raised-button id="category-scores-button" (click)="toCategoryScores()"
                [ngClass]="selectedPage===enumSP.CATEGORY_SCORES ? 'navbar-button selected-button': 'navbar-button'">Category Scores
        </button>

        <button mat-raised-button id="players-button" (click)="toPlayers()"
                [ngClass]="selectedPage===enumSP.PLAYERS ? 'navbar-button selected-button': 'navbar-button'">Players
        </button>

        <div id="admin-right-div"></div>
        <button mat-raised-button class="navbar-button" id="sign-out-button" (click)="logout()">Sign out</button>
</div>